using './main.bicep'

param location = 'canadacentral'
param resourceGroupName = 'rg-monitoring-incident-dev'
param environment = 'Development'
param owner = 'ShivamP63'
param adminUsername = 'azureadmin'
param vmSize = 'Standard_D2s_v3'

param adminSshPublicKey = 'ssh-ed25519 REPLACE_WITH_YOUR_PUBLIC_KEY portfolio-project'
param allowedSshSource = '203.0.113.10/32'
param alertEmailAddress = 'your.email@example.com'